.abook
.bash_history
.cache
.cargo
.electron-gyp
.esd_auth
.flash
.fontconfig
.fonts
.gem
.gitconfig
.gnupg
.icons
.inputrc
.ipython
.jupyter
.kite
.lesshst
.mbsyncrc
.mozilla
.mutt_certificates
.node-gyp
.npm
.openjfx
.openshot_qt
.password-store
.pki
.pylint.d
.python_history
.pythonhist
.R/rstudio
.recordingicon
.Renviron
.Rhistory
.rstudio-desktop
.rsyncexclude
.rsyncinclude
.rustup
.sc-iminfo
.screenlayout
.ssh
.texlive
.tmux.conf
.viminfo
.vscode-oss
.w3m
.wget-hsts
.Xauthority
.yarn
.yarnrc
.zoom
Documents
Downloads
ex.sh
GithubRepos
go
Media
Music
Pictures
R
Research
Videos
VimWiki
zzP
.vim
asciinema
autostart
bmdirs
bmfiles
configstore
dconf
dunst
emoji
fontawesome
fontconfig
fontforge
gconf
getkeys
GIMP
gita
gtk-2.0
gtk-3.0
htop
live-latex-preview
mimeapps.list
mpd
mpv
msmtp
mutt
ncmpcpp
neofetch
notmuch-config
protonmail
pulse
QtProject.conf
R
ranger
RStudio
shortcutrc
Slack
sxiv
systemd
taskwarrior
user-dirs.dirs
VSCodium
wall.png
yay
Youtube
.config/calcurse/apts
.config/calcurse/keys
.config/calcurse/notes
.config/calcurse/todo
.config/newsboat/urls
.config/nvim/.netrwhist
.config/nvim/autoload
.config/nvim/doc
.config/nvim/pack
.config/nvim/plugged
.config/nvim/sessions
.config/nvim/spell
.config/obs-studio
.config/taskell/TODO.md
.config/vifm/scripts
.config/vifm/vifm-help.txt
.config/vifm/vifminfo
.config/zoomus.conf
.config/Unknown Organization/
.local/lib
.local/share
.git-credentials
