snippet a "article"
@article{${1},
	author = {${2}},
	year = {${3}},
	title = {${4}},
	journal = {${5}},
	volume = {${6}},
	pages = {${7}}
}
$0
endsnippet
snippet b "book"
@book{${1},
	author = {${2}},
	year = {${3}},
	title = {${4}},
	publisher = {${5}},
	ISBN = {${6}}
}
$0
endsnippet
snippet c "in collection"
@incollection{${1},
	author = {${2}},
	title = {${3}},
	booktitle = {${4}},
	editor = {${5}},
	year = {${6}},
	publisher = {${7}}
}
$0
endsnippet
